
.parent_top {
  display: block;
  height: 0.5rem;
  margin: 0 auto;
  position: absolute;
  bottom: 0;
  width: 100%;
}
.parent_top > li {/*親階層のみ幅を115%にする*/
  width: 115%;
}
.parent_top:hover li a{/*ホバーしてる時だけ姿を現す*/
  display: block;
}
.parent_top li:hover > a {
  background-color: red;
  color: #fff;
}
/*全てのリスト・リンク共通*/
.parent_top li {
  list-style: none;
  position: relative;
  z-index: 100;
  font-size: 14px;
}
.parent_top li a {
  background: #fff;
  color: #001b34;
  display: none;
  height: 2rem;
  line-height: 2rem;
  text-align: center;
  text-decoration: none;
  width: 200px;
  font-size: 14px;
  font-weight: normal;
} 
/*子階層以降共通*/
.parent_top li li {
  height: 0;
  overflow: hidden;
  transition: .1s;
}

.parent_top li:hover > ul > li {
  height: 2rem;
  overflow: visible;
}
/*孫階層以降共通*/
.parent_top li ul  {
  left: 100%;
  position: absolute;
  top: 0;
  width: 100%;
}