.aside {
  height: 260px;
  background: url("https://www.mercari.com/jp/assets/img/common/jp/top/download_bg_pc.jpg?61716930");
  background-position: center;
  background-size: cover;
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  .app-text {
    padding: 30px;
    h2 {
      color: #FFF;
      font-size: 24px;
      text-align: left;
      font-weight: bold;
      border: none;
    }
    p {
      color: #FFF;
      font-size: 36px;
      text-align: left;
    }
    &__figure {
      display: flex;
      padding: 24px;
      ul {
        display: flex;
        li {
          padding: 10px;
        }
        a:hover {
          opacity: 0.7;
        }
      }
    }
  }
}



.footer {
  padding: 0 20px 10px 20px;
  background: #212121;
  color: #fff;
  margin: 0 auto;
  height: 400px;
  h2 {
    color: #fff;
    font-size: 16px;
    text-align: left;
    border: none;
  }
  a {
    color: #BCBCBC;
    font-size: 12px;
  }
  i {
    color: #fff;
    font-size: 3em;
  }
  span {
    color: white;
  }

  &__top {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    &__content {
      margin-top: 18px;
      padding: 0 20px 0 0 ;
      text-align: left;
      li {
        margin-top: 12px;
        &:hover {
          text-decoration: underline;
        }
      }
      &--social {
        display: flex;
        li {
          padding-right: 20px;
        }
      }
      &--divide {
        display: flex;
        &--left {
          width: 50%;
          margin-right: 20px;
        }
      }
    }
  }
  
  &__bottom {
    width:1020px;
    display: flex;
    margin: 30px auto 20px;
    a {
      width: auto;
      margin-right:10px;
      color: #fff;
      font-size: 12px;
      line-height: 1.5em;
      &:hover {
        opacity: 0.7;
      }
    }
    span {
      width:745px;
      display: inline-block;
      margin: 8px 0 0;
      text-align: center;
      vertical-align: sub;
    }
  }
}



