.header {
  background: #fff;
  
  // ヘッダー上半分
  .header-top {
    width:70%;
    margin: 0 auto;
    padding: 10px;
    display:flex;
    h1 {
      margin-right: 50px;
    }
    .fuzzy_search {
      width: 100%;
      margin-top: 10px;
      position: relative;
      &__label{
        &--icon{
          position:absolute;
          top: 10px;
          right: 10px;
        }
        &--btn{
          position: absolute;
          top: 10px;
          right: 10px;
          opacity: 0;
          cursor: pointer;
        }
      }
      &__field{
        width: 100%;
        height: 40px;
        padding: 5px 5px 5px 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        background: #F5F5F5;
        transition-duration: 0.3s;
        &:focus {
          border: 1px solid #0099e8;
          outline: 0;
        }
        &::-webkit-search-cancel-button {
          -webkit-appearance: none;
        }
      }
    }
  }

  // ヘッダー下半分
  .header-bottom {
    width: 72%;
    margin: 0 auto;
    padding: 0px 10px 10px;
    justify-content: space-between;
    display: flex;
    font-size: 14px;
    i {
      color: #ea352d;
      font-size: 1.3em;
    }
    &__left {
      &__list {
        display: flex;
        line-height: 36px;
        &__category{
          position: relative;
        }
      }
      h2 {
        font-weight: bold;
        margin-right: 20px;
        span:hover {
          color: #0099e8;
        }
      }
    }
    &__right {
      ul {
        position:relative;
        display: flex;
        line-height: 36px;
        li {
          margin-left: 20px;
          img {
            border-radius: 50%;
          }
          .link-mypage {
            display: flex;
            span {
              margin-left: 5px;
            }
          }
        }
        a:hover {
          i {
            color: #0099e8;
          }
          span {
            color: #0099e8;
          }
        }
      }
    }
    &__right2 {
      float:right;
      ul {
        position:relative;
        display: flex;
        line-height: 36px;
        li {
          margin-left: 20px;
          .btn {
            line-height: 32px;
            border-radius: 5px;
            padding: 10px;
            margin: 10px 0;
          }
          .btn-regist {
            border: 1px solid #ea352d;
            background: #ea352d;
            color: #fff;
          }
          .btn-login {
            border: 1px solid #0099e8;
            color: #0099e8;
          }
        }
      }
    }
  }
}