.buy-container
  = render "users/login-header"
  .buy-main
    %section.buy-item-container
      %h2 購入内容の確認
      %section.buy-content
        .buy-content__inner
          %h3.buy-item-image
            = image_tag "smile.png",height:"64px",width:"64px"
          %p.buy-item-name
            《送料無料》The スマイル
          %form.buy-form
            %p.buy-price 
              ¥0
              %span 
                送料込み
            .buy-price-table
              .buy-price-table__left 支払い金額
              .buy-price-table__right
                %span ¥ 0
            %button{type:"submit",class:"buy-btn"}購入する
      %section
      %section




  = render "users/login-footer"