.buy-container
  = render "users/login-header"
  .buy-main
    %section.buy-item-container
      %h2 購入内容の確認
      %section.buy-content
        .buy-content__inner
          %h3.buy-item-image
            = image_tag "images/smile.png",height:"64px",width:"64px"
          %p.buy-item-name 
      %section
      %section




  = render "users/login-footer"