.buy-container
  = render "users/login-header"
  .buy-main
    %section.buy-item-container
      %h2 購入内容の確認
      %section.buy-content
      %section
      %section




  = render "users/login-footer"