.signup-container
  =render "users/login-header"
  .signup-main
    .signup-main__head 
      新規会員登録
    %ul.signup-main__button
      %li.signup-main__button__mail
        = link_to "メールアドレスで登録する" ,step1_users_path , class: "btn registration"
      %li.signup-main__button__facebook
        =link_to "#" do
          Facebookで登録する
          %i
            = fa_icon "facebook-square" 
      %li.signup-main__button__google
        =link_to "#" do
          .signup-main__button__google__text
            Googleで登録する
          .signup-main__button__google__icon
          
  =render "users/login-footer"
