.complete-body
  .complete-body__container-2
    .complete-body__container__header
      %h1.complete-body__container__header__h1 
<<<<<<< HEAD
        -# = image_tag "main-logo.png" , width: 240, height:70
=======
>>>>>>> 2e15b99f23481d57c770b2b93dd7c37607c7bce7
      .progress-bar-contents
        .progress-bar
          .progress-bar__text
            会員登録
          .progress-bar__dot.dot-bars1
            ●
            .progress-bar__dot__bars.dot-bar1
        .progress-bar
          .progress-bar__text
            電話番号認証
          .progress-bar__dot.dot-bars2
            ●
            .progress-bar__dot__bars.dot-bars2
        .progress-bar
          .progress-bar__text
            お届け先住所入力
          .progress-bar__dot.dot-bar3
            ●
            .progress-bar__dot__bars.dot-bars3
        .progress-bar
          .progress-bar__text
            支払い方法
          .progress-bar__dot.dot-bar4
            ●
            .progress-bar__dot__bars.dot-bars4
        .progress-bar
          .progress-bar__text.input-new-member-complete
            完了
          .progress-bar__dot.dot-bars5
            ●
    .complete-main
      .complete-main__box
        %h2.complete-main__box__text
          会員登録完了
        .complete-inner
          .complete-inner__contents
            %p.complete-inner__contents__text
              ありがとうございます。
            %p.complete-inner__contents__text
              会員登録が完了しました。
            = link_to root_path do
              %button.complete-inner__submit
                メルカリをはじめる
    =render "users/login-footer"
