= render "shared/header"

.content-area
  .content-area__left
    = render "mypages/side-bar"

  .content-area__right
    .right-box
      %h2 本人情報の登録
      %form 



= render "shared/sell-btn"
= render "shared/footer"