=render "shared/header"


.main-container.clearfix
  .left-area
    =render "mypages/side-bar"
  .right-area
    %section
      %a
        %img{src: "//static.mercdn.net/images/member_photo_noimage_thumb.png"}
        %h2 出品者の名前
        %div
          %div
          %div



=render "shared/sell-btn"
=render "shared/footer"