.left-content{
  width: 100%;
  float: left;
  font-size: 14px;
  margin-bottom: 40px;
  clear: both;
  a {
    color: #333;
  }  
  ul{
    padding-inline-start:0;
    li{
      background-color:white;
      padding: 16px;
      margin-top:1px;
      display: flex;
      align-items:center;
      position: relative;
      .fa-chevron-right{
        display: block;
        margin: 0 0 0 auto;
        color: #ccc;    
        }
    }
  }
}
