@mixin box($fSize){
  color: $black;
  width: 700px;
  height: $fSize;
  background-color: $white;
  box-sizing: border-box;
}
@mixin title-box{
  height: 50px;
  font-size: 24px;
  padding: 8px 24px;
  font-weight: bold;
  text-align: center;
  box-sizing: border-box;
  border-bottom: 1px solid $pale_gray;
}
@mixin remove-botton{
  height: 24px;
  width: 70px;
  box-sizing: border-box;
  padding: 4px 6px;
  font-size: 14px;
  text-decoration: none;
  color: $red;
  border-radius: 3px;
  border:1px solid $red;
}
@mixin form-icon($fColor){
  color:$white;
  background-color: $fColor;
  width:32px;
  height: 19px;
  font-size: 12px;
  margin-left: 8px;
  border-radius: 2px;
  vertical-align: top;
  text-align: center;
  box-sizing: border-box;
}
@mixin select-arrow{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url(icon_arrow.png);
  background-repeat: no-repeat;
  background-size: 12px 10px;
  background-position: right 10px center;
}
@mixin submit-button($fSize,$fColor){
  font-size: 14px;
  height:50px;
  width:$fSize;
  color:$white;
  background-color:$fColor;
  text-align: center;
}
@mixin category-list{
  font-size: 12px;
  display: block;
  text-decoration: none;
  color: $black;
  background-color: $white;
  line-height: 20px;
  height:50px;
  width:220px;
  padding: 13px;
  box-sizing: border-box;
  z-index: 3;
}