
.clearfix:after {
  content: '';
  display: block;
  clear: both;
}

.main-container{
  display:flex;
  width:1020px;
  margin: 40px auto 0 ;
}

.left-area{
  width:280px;
  float:left;
  margin: 0 40px 0 0 ;
}

.right-area{
  float:right;
  width: 700px;
  &__user-icon{
    margin: 0;
    position: relative;
    height:200px;
    padding: 20px;
    text-align: center;
    background-size: cover; 
    background-image: url("https://lh3.googleusercontent.com/tAe-PhZr-mUoPY8eP-vd9AE4jsW9YeIdD6Z3vJkikIZfkSlwj3VraefqefNole_wCgkCJQ=s170");
    &__a{
      position: absolute;
      top:25%;
      left:0;
      right:0;
      color: #333;
      .user-img{
        border-radius: 50%;
      }
      h2{
        margin: 8px 0 0 ;
        font-size: 14px;
      }
      p{
        display: inline-block;
        margin-left:8px;
      }   
    }
    &__number{
      margin: 8px 0 0 ;
    } 
  }
  &__box__tabs{
    display:flex;
    height:74px;
    width: 100%;
    font-size: 16px;
    background: #eee;
    li{
      width:50%;
      height:100%;
      display: inline-block;
      h4{
        text-align: center;
        font-size: 16px;
        line-height:74px;
        a {
          color:black;
        }
      }
    }
    li.active{
      background: #fff;
    }
  }

  &__tab-content{
    background: #fff;
    font-size: 14px;
    &__box {
      position: relative;
      background-color: white;
      &__img {
        float:left;
      }
      &__body {
        margin: 0 40px 0 68px;
        &--text {
          line-height: 1.5;
        }
        &--time {
          display: flex;
          color: #888;
          i {
            margin-right:8px;
          }
        }
      }
      &--string {
        background: #eee;
        text-align:center;
        padding: 16px;
        line-height: 56px;
      }
      .fa-angle-right {
        position: absolute;
        top: 50%;
        right: 16px;
      }
    }
    ul {
      width:100%;
    }
    li {
      position: relative;
      border-bottom: 1px solid #eee;
      height:88px;
      a {
        min-height: 80px;
        padding: 16px;
        color: #333;
      }
    }
    .go-to-mypage {
      margin: 0 auto;
      background: #fff;
      color: #333;
      text-align: center;
    }
  }
  &__tab-container {
    margin: 40px 0 0;
    background: #fff;
    h2 {
      padding: 0 16px;
      background: #fafafa;
      font-size: 16px;
      font-weight:bold;
      line-height: 72px;
    }
    &__tabs {
      background: #eee;
    }
    ul {
      display:flex;
    }
    li {
      flex-direction: row;
      width:50%;
      text-align: center;
      color: #333;
      font-size: 16px;
      line-height: 72px;
    }
    li.active {
      background: #fff;
    }
    li.item-not-found {
      width:100%;
      padding: 160px 0 60px;
      text-align: center;
      font-size: 16px;
      color: #ccc;
    }
  }
}