@import "./reset";
@import "font-awesome";
@import "shared/header";
@import "shared/footer";
@import "shared/sell-btn";
@import "modules/side-bar";

.content-area {
  margin: 40px auto 0;
  padding: 0 0 40px;
  width: 1020px;
  &__left {
    float:left;
  }
  &__right {
    width: 700px;
    float: right;
    background-color: white;
  }
  &__head {
    font-size: 24px;
    padding: 8px 24px;
    min-width: 768px;
    text-align: center;
    line-height: 1.4;
    font-weight: bold;
  }
}

