@import "./reset";
@import "font-awesome";
@import "shared/header";
@import "shared/footer";
@import "shared/sell-btn";
@import "modules/side-bar";

.content-area {
  margin: 40px auto 0;
  padding: 0 0 40px;
  width: 1020px;
  &__left {
    float:left;
    width: 280px;
    margin: 0 40px 0 0 ;
  }
  &__right {
    width: 700px;
    float: right;
    background-color: white;
  }
  &__head {
    text-align: center;
    line-height: 1.4;
    &__profile {
      font-size: 24px;
      padding: 8px 24px;
      font-weight: bold;
    }
  }
}
.profile-icon-area {
  padding: 72px 16px 24px;
  text-align: center;
  figure {
    display: inline-block;
    width: 60px;
    height: 60px;
    margin: 0;
    img {
      border-radius: 50%;
    }
  }
  input {
    width: 220px;
    margin: 0 0 0 8px;
  }
}

