.detail-adjustment {
  width:700px;
  margin: 0 auto;
  section {
    padding: 24px 40px 40px;
    margin: 40px auto 0;
    background: #fafafa;
    h1 {
      font-size: 24px;
      text-align: center;
      font-weight: bold;
      line-height: 1.4;
    }
    .detail-main {
      margin: 16px 0 0;
      .item-photo {
        float: left;
        min-width: 300px;
        max-width: 300px;
        min-height: 375px;
        margin: 0 auto;
      }
      table {
        width: 100%;
        float: right;
        max-width: 300px;
        height: 420px;
        margin: 0 auto;
        border: 1px solid #f5f5f5;
        border-collapse: collapse;
        font-size: 14px;
        th {
          width: 39%;
          text-align: left;
          font-weight: 400;
          background: #fafafa;
          border: 1px solid #f5f5f5;
        }
        td {
          width: 61%;
          background: #fff;
          padding: 8px;
          border: 1px solid #f5f5f5;
          .user-name {
            color: #0099e8;
          }
          .user-rate {
            i {
              font-size: 16px;
            }
            &__left {
              display: inline-block;
              i {
                color: #ef5185;
              }
            }
            &__center {
              margin: 8px 0 0 16px;
              display: inline-block;
              i {
                color: #fba933;
              }    
            }
            &__right {
              margin: 8px 0 0 16px;
              display: inline-block;
              i {
                color: #6ab5d8;
              }    
            }
          }
          .category {
            color: #0099e8;
          }
        }
      }
      .item-pricebox {
        margin: 24px 0 0;
        text-align: center;
        clear: both;
        &__price {
          margin: 0 16px 0 0;
          font-size: 50px;
        }
        &__tax {
          font-size: 10px;
        }
        &__postage {
          font-size: 16px;
        }
      }
     
      
      .purchase-box {
        background-color: #fff ;
        width: 100%;
        text-align: center;
        a {
          margin: 16px 0 ;
          color: #fff;
          font-size: 14px;
          text-align: center;
        }
        .product-edit-btn {
          background-color: rgb(236, 22, 22) ;
          margin: 16px 0 ;
          color: #fff;
          font-size: 14px;
          line-height: 48px;
          text-align: center;
        }
        .product-btn-or {
          margin: 16px 0 ;
          background-color: #fff ;
          font-size: 14px;
        }
        .product-stop-btn {
          margin: 16px 0 ;
          background-color: #aaa ;
          color: #fff;
          font-size: 14px;
          line-height: 48px;
        }
        .product-delete-btn {
          margin: 16px 0 ;
          background-color: #aaa ;
          color: #fff;
          font-size: 14px;
          line-height: 48px;
        }
        .purchase-box2 {
          background-color: #fff ;
          width: 100%;
          text-align: center;
          a {
            margin: 16px 0 ;
            color: #fff;
            font-size: 14px;
            text-align: center;
          }
          .product-purchase-btn {
            display: block;
            background-color: rgb(236, 22, 22);
            margin: 16px 0 ;
            color: #fff;
            font-size: 24px;
            line-height: 48px;
            text-align: center;
            font-weight: bold;
          }
        }
      }
      
      .item-coment {
        padding: 32px 0 0;
        line-height: 1.5;
        font-size: 18px;
        &__inner {
          white-space: pre-wrap;
        }
      }
      .item-button {
        margin: 16px 0 0;
        display: flex;
        justify-content: space-between;
        &__left {
          display: flex;
          float: left;
          font-size: 14px;
          button, a {
            display: inline-block;
            padding: 8px 16px;
            border-radius: 40px;
          } 
          .like-button-area {
            background: #f5f5f5;
          }
          .report {
            margin: 0 0 0 16px;
            background: #f5f5f5;
          }
        }
        &__right {
          margin: 8px 0 0;
          float: right;
          font-size: 14px;
          i {
            color: #0099e8;
          }
          span {
            margin: 1px 0 0 8px;
            color: #0099e8;
          }
        }
      } 
    } 
  }
}

.item-message {
  width: 700px;
  margin: 8px auto;
  .message-content {
    padding: 24px;
    background: #fff;
    p {
      padding: 8px;
      font-size: 14px;
      background: #fff6de;
    }
    textarea {
      margin: 8px 0 0;
      width: 100%;
      max-width: 100%;
      min-height: 104px;
      padding: 10px;
      border: 1px solid #ccc;
      background: #fff;
      font-size: 16px;
      line-height: 1.5;
    }
    button {
      width: 100%;
      background: #aaa;
      border: 1px solid #aaa;
      color: #fff;
      line-height: 48px;
      span {
        font-size: 14px;
        color: #fff;
      }
    }
  }
}
.nav-link {
  margin: 24px auto 0;
  width: 700px;
  .fa , a {
    color: #0099e8;
  } 
  .prev-link {
    float: left;
    padding: 0 0 0 14px;
  }
  .next-link {
    float: right;
    padding: 0 14px 0 0;
  }
  .clearfix {
    content: '';
    display: block;
    clear: both;
  }
}
.social-media-box {
  margin: 24px auto;
  padding: 32px 0 24px;
  width: 700px;
  background: #fff;
  ul {
    margin: 16px 0 0;
    text-align: center;
    li {
      display: inline-block;
      margin: 0 8px 8px 0;
      vertical-align: middle;
      text-align: center;
      .fa {
        width: 44px;
        height: 44px;
        border-radius: 4px;
        line-height: 44px;
      }
      .fa-facebook-square {
        font-size: 26px;
        color: #fff;
        background: #385185;
      }
      .fa-twitter-square {
        font-size: 24px;
        color: #fff;
        background: #5d9dc9;
      }
      .fa-pinterest-square {
        color: #fff;
        background: #aa262a;
        font-size: 18px;
      }
    }
  }
}

