@import "variable";

.input-login-phonenumber{
  color: $red;
};

.phone-body{
  position: relative;
  min-height: 100%;
  background: #f5f5f5;
  font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
  font-size: 14px;
  color: #333;
  line-height: 1;
  &__container-2{
    padding: 0 0 300px;
    box-sizing: border-box;
    &__header{
      margin: auto;
      width: 500px;
      height: 128px;
      text-align: center;
      display: flex;
      .progress-bar{
        color: $button-gray;
        width: 100px;
        height:32px;
        box-sizing: border-box;
        &__text{
          font-size: 12px;
          font-weight: 600;
          width:100px;
          text-align: center;
        }
        &__dot{
          font-size: 25px;
          width:12px;
          margin: auto;
          z-index: 1;
          position: relative;
          &__bars{
            background-color: $button-gray;
            width:97px;
            height: 2px;
            position: absolute;
            bottom: 12px;
            left: 8px;
            z-index: -1;
          }
        }
      }
      
      .progress-bar-contents{
        width: 480px;
        height: 60px;
        box-sizing: border-box;
        display: flex;
        margin-top: 50px; 
      }
      &__h1{
        display: inline-block;
        margin: 40px 0 0;
        &__url{
          width: 185px;
          height: 49px;
          line-height: 49px;
          display: inline-block;
          margin: 0 8px 0 0;
          &__img{
            width: 185px;
            height: 49px;
           }
        }        
      }
    }

    .phone-main{
      display: block;
      &__box{
        width: 700px;
        margin: 0 auto;
        background-color: $white;
        &__text{
          padding: 32px;
          border-bottom: 1px solid #f5f5f5;
          text-align: center;
          display: block;
          font-size: 1.5em;
          margin-inline-start: 0px;
          margin-inline-end: 0px;
          font-weight: bold;
        }
        &__registration{
          padding: 24px 16px 40px;
          border-top: 1px solid #f5f5f5;
          display: block;
          &__content{
            max-width: 343px;
            margin: 0 auto;
            &__form{
              margin: 0;
              &__text{
                font-weight: 600;
              }
              &__phone-number{
                height: 48px;
                padding: 10px 16px 8px;
                border-radius: 4px;
                border: 1px solid #ccc;
                background: #fff;
                line-height: 1.5;
                font-size: 16px;
                width: 100%;
                margin: 8px 0 0;
                box-sizing: border-box;
                }
              }
            .phone-number-text{
              margin: 8px 0 0;
              line-height: 1.5;
              }
            #sms_btn{
              margin: 24px 0 0;
              background: #ea352d;
              border: 1px solid #ea352d;
              color: #fff;
              display: block;
              width: 100%;
              line-height: 48px;
              font-size: 14px;
              border: 1px solid transparent;
              -webkit-transition: all ease-out .3s;
              transition: all ease-out .3s;
              cursor: pointer;
              text-align: center;
              }
            .text-right{
              margin: 24px 0 0;
              text-align: right;
              font-size: 14px;
              &__link{
                color: #0099e8;
                text-decoration: none;
                }
              }
            }
          }
        }
      }
    }
  }
  