$white: #fff;
$black: #333;
$dark_gray: #eee;
$pale_gray: #ccc;
$light_gray: #fafafa;
$light_blue: #0099e8;
$red: #ea352d;
$header_backgroundcolor: rgb(245, 245, 245);
$footer_backgroundcolor: #212121;
$background_gray: #f5f5f5;
$button-gray: #aaa;