.pickup-content
  -# = link_to product_path(product.id) do
  = link_to root_path do
    %figure.content__box
      .img_content
      -# - if product.images.present?
      - if user_signed_in?
        = image_tag "#{sellitem.images[0].image}", class:'pickup-content__img'
        -# = @image.gazou
        .img_title
          %p.img_price
            -# ="¥#{product.price}"
            ="¥555"
      -# - else
      -#   = image_tag "", class:'pickup-content__img'
      -# %figcaption.text__box 
      -#   %span 
      -#     = product.name

-# ..................コメントアウト部分は後ほど解放.......................