=render "shared/header"

%section
  %h1 １００％スマイル
  .detail-main
    .item-photo
      .item-photo-sub
    %table
    .item-pricebox
      %span.item-pricebox__price ¥8,888
      %span.item-pricebox__tax  (税込)
      %span.item-pricebox__postage 送料込み



=render "shared/footer"