.signup-footer {
  width: 456px;
  height: 220px;
  margin: 0 auto;
  padding: 40px 0 ;
  text-align: center;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;

  &__nav {
    a {
      font-size: 12px;
      margin:0 0 0 16px;
    }
  }
  &__logo img {
    width: 80px;
    height: 80px;
  }
  p {
    margin: 8px 0 0;
    font-size: 13px;
  }
}